<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width-device-width", initial-scale="1.0"> 
        <link rel="stylesheet" href="style.css"> 
        <title>Pet Adoption</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>
        <div id="app">
            <div id=header>
                <h1>Forever Friends Adoption Center</h1>
                <nav>
                    <button @click="changePage(1)">View Pets</button>
                    <button @click="changePage(2)">View Applications</button>
                </nav>
            </div>
            <div id="pages" v-if="page === 1">
                <h2>Pets for Adoption</h2>
                <div id="petlist" v-for="pet in pets">
                    <div> {{pet.name}} </div>
                    <div> {{pet.species}} </div>
                    <div> {{pet.breed}} </div>
                    <div> {{pet.age}} </div>
                    <div> {{pet.gender}} </div>
                </div>
                <h2>Add a New Pet Listing</h2>
                <form class="add-form" @submit.prevent="addPet()">
                    <label class="label-input">
                        <span>Name</span>
                        <input type="text" class="form-input" v-model="newPet.name"/>
                    </label>
                    <label class="label-input">
                        <span>Species</span>
                        <input type="text" class="form-input" v-model="newPet.species"/>
                    </label>
                    <label class="label-input">
                        <span>Breed</span>
                        <input type="text" class="form-input" v-model="newPet.breed"/>
                    </label>
                    <label class="label-input">
                        <span>Age</span>
                        <input type="number" class="form-input" v-model="newPet.age">
                    </label>
                    <label class="label-input">
                        <span>Gender</span>
                        <input type="text" class="form-input" v-model="newPet.gender">
                    </label>
                    <button>Add New</button>
                </form>
            </div>
            <div id="pages" v-if="page === 2">
                <h2>Applicants for Review</h2>
                <div id="ppllist" v-for="p in ppl">
                    <div> {{p.name}} </div>
                    <div> {{p.phone}} </div>
                    <div> {{p.email}} </div>
                    <div> {{p.petId}} </div>
                </div>
                <h2>Apply Now!</h2>
                

            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>